<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Schedules App</title>
  </head>
  <body>
    <div class="container">
      <header>
        <nav class ="text-right mb-3">
        <a href="/">SchedulesHome  </a></li> 
        <a href="/new">NewSchedule </a></li>
      </nav>
      </header>
      <section>
         {{{body}}}
      </section>
      <footer>
        <div class="text-right mb-4">
          <p>Follow us on social media !</p>
          <div>
            <dl>
              <dd><a href="https://www.linkedin.com/">Linked In Home</a></dd>
              <dd><a href="https://www.twitter.com/">Twitter Home</a></dd>
              <dd><a href="https://www.facebook.com/">Facebook Home</a></dd>
            </dl>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
